@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 초기화 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: wrap;
    box-sizing: border-box;
    }
html,
body {width:100%;height:100%;}
body {font-family:'나눔고딕',NanumGothic, serif !important; line-height: initial !important;}

ol,ul,dl{margin:0;padding:0;list-style-type:none;}
a{text-decoration: none!important;}
a:focus{outline: 0;}
.no-padding{padding: 0;}


/*공통*/
.container {width: 1200px !important; padding: 0px !important;}
.row { margin-left: 0px !important; margin-right: 0px !important;}

#container:after{display:block;content:"";clear:both}
section{position:relative}
#introduce, #business, #recruit_process, #recruit, #request{padding-top:30px; padding-bottom:130px}
.more_down{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down.png") center center no-repeat}
.more_down2{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down2.png") center center no-repeat}
.scl_top{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/scl_top.png") center center no-repeat}

.content p{line-height:30px;color:#222;}
.content p.itd_title{font-size:24px;margin-bottom:30px;}
.content a {text-decoration:none;padding:8px;margin-top: 10px;}
.content a:hover{text-decoration:none;}

#top_btn{position:fixed;bottom:10%;right:5%;display:block;width:50px;height:50px;border-radius:5px;background-color:#fff !important;text-indent:-9999px;background:url("../img/top_btn.gif") center center no-repeat; overflow:hidden;opacity:0.8;z-index: 999;}
.flexbox {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    -webkit-box-sizing: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexbox-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    -moz-justify-content: center; 
    -ms-justify-content: center; 
    -o-justify-content: center; 
    justify-content: center; 
}
.flexbox-col{
    flex-flow: column;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
}
.flexbox-align-start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
}
.flexbox-align-center {
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}
.flexbox-align-cont-between {
    align-content: space-between;
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    -o-align-content: space-between;
}
.flexbox-just-center {
    justify-content: center; 
    -webkit-justify-content: center; 
    -moz-justify-content: center; 
    -ms-justify-content: center; 
    -o-justify-content: center; 
}

.flexbox-just-end {
    justify-content: flex-end; 
    -webkit-justify-content: flex-end; 
    -moz-justify-content: flex-end; 
    -ms-justify-content: flex-end; 
    -o-justify-content: flex-end; 
}

.flexbox-just-between {
    justify-content: space-between; 
    -webkit-justify-content: space-between; 
    -moz-justify-content: space-between; 
    -ms-justify-content: space-between; 
    -o-justify-content: space-between; 
}

.flexbox-just-around {
    justify-content: space-around; 
    -webkit-justify-content: space-around; 
    -moz-justify-content: space-around; 
    -ms-justify-content: space-around; 
    -o-justify-content: space-around; 
}

/* 화면 낭독 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}


/* Header */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* #header .container { height: 100px; } */
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li a { padding-top: 43px; height: 100px; }
}

#header { background-color: #fff; border-bottom: #dbdbdb solid 1px; }
.navbar-inverse .navbar-brand img { border: 1px solid #000;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {background: transparent; color: #06713a !important; background-color: #fff !important; }
.navbar-inverse .navbar-nav li a{color: #484848!important; font-weight: bold;}

/*footer*/
footer {background:url('../img/ft_bg.png') repeat; !important;}
#ft{width:100%;}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_company{height:auto;}
#ft_company:after{display:block;clear:both;content:"";}
#ft_company div{padding:10px 0;}
#ft_company p{color:#fff;float:left;line-height:1.8em;text-align:left}
#ft_company .f_link{margin:20px 0}
#ft_company .f_link a{display:inline-block;margin-right:15px;color:#f2f2f2}
#ft_company .ft_info{width:100%;padding-bottom:10px;text-align:center;}
#ft_copy{width:100%;border-top:1px solid #4e5763}
#ft_copy div {display:inline-block;padding:18px 0;color:#fff;}
#ft_copy a {display:inline-block;margin:0 10px 0 0;color:#fff;}
