@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


/* 초기화 */
html,
body {width:100%;height:100%;}
body {font-family:'나눔고딕',NanumGothic, serif !important;}

ol,ul,dl{margin:0;padding:0;list-style-type:none;}
a{text-decoration: none!important;}
a:focus{outline: 0;}
.no-padding{padding: 0;}


/*공통*/
#container:after{display:block;content:"";clear:both}
section{position:relative}
#introduce, #business, #recruit_process, #recruit, #request{padding-top:30px; padding-bottom:130px}
.more_down{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down.png") center center no-repeat}
.more_down2{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down2.png") center center no-repeat}
.scl_top{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/scl_top.png") center center no-repeat}

.content p{line-height:30px;color:#222;}
.content p.itd_title{font-size:24px;margin-bottom:30px;}
.content a {text-decoration:none;padding:8px;margin-top: 10px;}
.content a:hover{text-decoration:none;}

#top_btn{position:fixed;bottom:10%;right:5%;display:block;width:50px;height:50px;border-radius:5px;background-color:#fff !important;text-indent:-9999px;background:url("../img/top_btn.gif") center center no-repeat; overflow:hidden;opacity:0.8;z-index: 999;}
.center-flexbox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    -moz-justify-content: center; 
    -ms-justify-content: center; 
    -o-justify-content: center; 
    justify-content: center; 
}

/* 화면 낭독 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}


/* Header */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* #header .container { height: 100px; } */
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li a { padding-top: 43px; height: 100px; }
}

#header { background-color: #fff; }
.navbar-inverse .navbar-brand img { border: 1px solid #000;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {background: transparent; color: white !important; background-color: #06713a !important; }
.navbar-inverse .navbar-nav li a{color: #000!important;}


/* #home 배너 */
#home:after{display:block;clear:both;content:"";}
.home_section {height:710px; padding:170px 0 200px 0;overflow:hidden;}
.background_bg, .backstretch{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;background: url("../img/main_banner.jpg") center center no-repeat; background-image:100% !important;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.home_section .container {height: 100%;}
.home_content {position:relative;display:table;height:100%;width:100%;overflow: hidden;}
.title {font-size:40px;line-height:50px;color:#fff;font-weight:600;margin:20px 0}
.description {margin-bottom: 30px;font-size: 16px;line-height: 30px;color: #fff;}
.black_overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.2; }
.home_section .home_content .title { margin: 20px 0 5px 0; }
.home_section .home_content .go-ongoing { width: 250px; height: 60px; background-color: #507c69; margin: auto; border: 2px solid #96b0a5;} 
.home_section .home_content .go-ongoing span { font-weight: bold; font-size: 20px; color: #fff; }

/*회사소개*/
#ranking { background-color: #f8f8f8; }
#ranking .ct_header { padding-top: 50px }
#ranking .ct_header .ct_title { margin: 0px; font-size: 26px; font-weight: bold; }
#ranking .main_feature { margin: 40px 0px; }

#ranking .main_feature .ranking-tab li {
    /* display: inline-block; */
    width: calc(100% / 4);
    height: 40px;
    border-bottom: 1px solid #dbdbdb;
    float:left;
    text-align: center;
    font-size: 16px;
    font-family: Gb;
    cursor:pointer;
    position: relative;
    color: #8a8a8a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;}
#ranking .main_feature .ranking-tab li:hover a { color:#2b2b2b; }
#ranking .main_feature .ranking-tab a li:hover { color: #2b2b2b; text-decoration: none;}
#ranking .main_feature .ranking-tab li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background: linear-gradient(to right, #dbdbdb, #2b2b2b, #dbdbdb);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#ranking .main_feature .ranking-tab li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#ranking .main_feature .ranking-tab li.active a {color:#4b4b4b;}
#ranking .main_feature .ranking-tab li.active:before {position: absolute;
    width: 100%; height: 1px; bottom: -1px; left: 0; background: linear-gradient(to right, #dbdbdb, #2b2b2b, #dbdbdb);
  visibility:visible;-webkit-transform: scaleX(1);transform: scaleX(1);}
#ranking .main_feature .ranking-tab li a {color: #939393;}
#ranking .main_feature .ranking-tab li a:hover {color:#4b4b4b;text-decoration: none;}
#ranking .main_feature .ranking-tab li a.active {border-bottom: 4px solid #000;color:#2f2f2f;}
/* 
#ranking .main_feature .ranking-tab li ul {
    padding: 0;position: absolute;top: 48px;left: 0;width: calc(100% / 4);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: all 0.2s opacity 0.2s;
    -moz-transition: all 0.2s opacity 0.2s;
    -ms-transition: all 0.2s opacity 0.2s;
    -o-transition: all 0.2s opacity 0.2s;
    -transition: all 0.2s opacity 0.2s;}
#ranking .main_feature .ranking-tab li ul li { background: rgba(0,0,0,0.55);display: block;color: #fff;font-family: GL;font-size: 12px;padding: 0; height: 43px;}
#ranking .main_feature .ranking-tab li ul li:hover { background: #000;}
#ranking .main_feature .ranking-tab li:hover ul li a {color:#fff;}
#ranking .main_feature .ranking-tab li:hover ul a li:hover {color:#fff;}
#ranking .main_feature .ranking-tab li:hover ul {width: 100%;display: block;opacity: 1;visibility: visible;margin-top: 2px;}
#ranking .main_feature .ranking-tab li ul li:before {height:2px;}
#ranking .main_feature .ranking-tab li ul li a {color:#fff;} */


/*사업영역*/
#business{width:100%;height:auto;background:crimson}
#business .bis_ct{padding-top:30px;}
#business .ct_title{color:#fff}
#business .content{height:auto;padding:10px;margin:20px 0;border-radius:10px}
#business .content span{display:inline-block;height:57px}
#business .content span.icon01{width:39px;background: url("../img/bis_icon_01.png") no-repeat !important;}
#business .content span.icon02{width:75px;background: url("../img/bis_icon_02.png") no-repeat !important;}
#business .content span.icon03{width:45px;background: url("../img/bis_icon_03.png") no-repeat !important;}
#business .content h5{color:#fff; font-size:24px; font-weight:normal; border-bottom:1px solid #fff; padding-bottom:20px;}
#business .content p{padding-top:30px;color:#fff;}


/*홍보센터*/
#public_relation h3 a{color:#000}
#public_relation{padding-top:90px;}
#public_relation:after{display:block; content:""; clear:both}
#public_relation .container{margin-bottom:30px;}

.pr_wrap{position: relative;display:block;width:100%;padding:0px;margin:0px;transition:height 450ms ease-out 0s;-webkit-transition: height 450ms ease-out 0s;-o-transition: height 450ms ease-out 0s;}
.pr_gall{display:block;overflow:hidden;padding:0px;float:left;background: #FBFAF8 !important;padding:0 !important;}
.pr_gall .figure{padding:0px;width:100%; height:100%;}
.pr_gall .lt_image{background: #eee}
.pr_gall img{display:block;width:100% !important;height:auto !important;}
.pr_gall .mouse_over{display:none;position:absolute;width:100%;height:100%;top:0;left:0;background: rgba(119, 211, 247, 0.6); transition:0.3s ease-in-out; padding:3%}
.pr_gall .mouse_over a{margin-top:10%:}
.pr_gall:hover .mouse_over{display:block;}
.pr_gall .lt_tit{color:#fff;font-size:1.6em;margin-top:35%;display:block;text-align:center;overflow:hidden;}
.pr_gall .lt_detail{display:inline-block;width:80%;height:40px;overflow:hidden;margin-top:20px;font-size:90%;}
.pr_gall .lt_detail a{color:#fff !important;}



/*채용절차*/
#talented_person{}
#tal_tabs{width:100%;margin-top:30px;}
ul.tabs {float: left;height: 32px;border-bottom: 1px solid #eee;border-left: 1px solid #eee;width: 100%;font-size:12px;}
ul.tabs li {float: left;text-align:center;cursor: pointer;width:25%;padding:20px 0;font-size:16px;border: 1px solid #eee;border-left: none;background: #fafafa;overflow: hidden;position: relative;}
ul.tabs li.active {background:url("../img/bis_bg.png")repeat;background-color:#3b4c54; border-bottom: 1px solid #FFFFFF; color:#fff !important}
.tab_container {clear:both;float:left;width:100%;background: #FFF;margin-top:30px;}
.tab_content {padding: 5px;font-size: 12px;display: none; overflow: hidden}
.tab_content img{width:100%;height:auto;float:left; overflow:hidden;margin-right:2%}
.tab_container .tab_content ul {width:100%;margin:0px;padding:0px;}
.tab_container .tab_content ul li {padding:5px;list-style:none}


/*채용정보*/

#recruit{background:url("../img/recruit_bg.png") repeat}

.recruit_info{position: relative;margin-top: 40px;}
.single_blog{margin: 0px 15px;}
.post_img img{float:left;width:100%;height:250px;}
.post_img{position:relative;}
.post-date{float:left;position:absolute;bottom:0px;left:0;/*width:50%;height:70px;*/}
.post_img{text-decoration:none;color: #fff;}
.post-date span{display: block;padding: 5px 0px;font-size: 30px;font-weight: 700;margin: 3px 0px;}
.post-date{font-size: 20px;text-align:left;}
.single_blog ul li{color: #999;font-size: 12px;}
.single_blog ul li i{}
.single_blog h4{text-transform: uppercase;padding-top: 15px;clear:both;}
.single_blog h4:hover{color: #EE3B24;}
.single_blog p{margin: 8px 0px;font-size: 13px;text-align: justify;}


/*문의*/

#request{}

#contact_from {height:100%;position:relative}
#contact_fs legend {border:none !important;position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#contact_fs label {width:100%; text-align:left;margin-bottom:10px;}
#contact_fs textarea {width:100%;border:1px solid #dae3e7 !important;margin-bottom:20px;padding:5px;background:#fdfdfd !important}
#contact_fs .frm_input {display:block;width:100%; height:40px;background:#fdfdfd !important;border:1px solid #dae3e7 !important;margin-bottom:20px;padding:5px}
#contact_fs .btn_submit {right:50px;width:100%;height:55px;background:#3b4c54;font-size:16px;font-weight:bold;border:none;color:#fff;}
#contact_fs .captcha{}


/*찾아오시는 길*/
#location{padding-top:90px;background:#f2f2f2}
.location_info{padding:70px 0;}
.location_info:after{display:block;clear:both;content:"";}
.location_info ul li{float:left;text-align:center !important;width:25%;height:20px;margin-bottom:30px}
.location_info ul li i{display:inline-block;color:red;margin-bottom:20px}
#map{width:100%;height:800px;overflow: hidden;}
#map iframe{width:100% !important;height:600px;}


/*footer*/
footer {background:url('../img/ft_bg.png') repeat; !important;}
#ft{width:100%;}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_company{height:auto;}
#ft_company:after{display:block;clear:both;content:"";}
#ft_company div{padding:10px 0;}
#ft_company p{color:#fff;float:left;line-height:1.8em;text-align:left}
#ft_company .f_link{margin:20px 0}
#ft_company .f_link a{display:inline-block;margin-right:15px;color:#f2f2f2}
#ft_company .ft_info{width:100%;padding-bottom:10px;text-align:center;}
#ft_copy{width:100%;border-top:1px solid #4e5763}
#ft_copy div {display:inline-block;padding:18px 0;color:#fff;}
#ft_copy a {display:inline-block;margin:0 10px 0 0;color:#fff;}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha {display:inline-block;position:relative;height:80px;margin-bottom:20px; float:left}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {position:absolute;top:0;left:0;width:101px;height:43px;border:1px solid #e4eaec !important}
#captcha #captcha_mp3 {position:absolute;top:0;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/sound.gif')}
#captcha #captcha_reload {position:absolute;top:21px;left:101px;margin:0;padding:0;width:23px;height:22px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_reload span {position:absolute;top:0;left:0;width:23px;height:22px;background:url('../../../plugin/kcaptcha/img/reload.gif')}
#captcha #captcha_key {position:absolute;top:0;right:0px;padding:0 5px;width:128px;height:43px;border:1px solid #e4eaec !important;
background:#fff !important;font-size:1.333em;font-weight:bold;text-align:center;}
#captcha #captcha_info {display:block;padding-top:50px}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center} /* 서식단계 진행 */

.btn_submit {height:32px;padding:7px 10px 24px 10px;border:0;background:#3b4c54;color:#fff;cursor:pointer}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}

a.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:24px;border:0;background:#333;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;padding:7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:12px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:8px 5px;border-top:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all;color:#666;font-weight:normal}
.tbl_head01 a {}
.tbl_head01 .copymove_current{color:red;}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;color:#000;line-height:2em}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:22px}
.tbl_frm01 textarea {width:98%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {background:url('../../../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center; border:1px solid #e9e9e9;}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #333;border-bottom:1px solid #dde4e9;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:dotum;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:1px solid #4b545e;color:#4b545e;line-height:2em;cursor:pointer;border-radius:8px;background:#fff}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}


/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px 30px 10px;height:25px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {text-decoration:none;border:1px solid #eee;border-radius:8px;}
.pg_page:hover{border:1px solid #77d3f7 ;}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#3b4c54;color:#fff;font-weight:normal;border-radius:8px;}

