@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 초기화 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: wrap;
    box-sizing: border-box;
    }
html,
body {width:100%;height:100%;}
body {font-family:'나눔고딕',NanumGothic, serif !important; line-height: initial !important;}

ol,ul,dl{margin:0 !important;padding:0 !important;list-style-type:none;}
a{text-decoration: none!important;}
a:focus{outline: 0;}
.no-padding{padding: 0;}

input[type=text] {height: 25px; margin-left: 10px; padding-left: 8px;}


/*공통*/
.container {width: 1200px !important; padding: 0px !important;}
.row { margin-left: 0px !important; margin-right: 0px !important;}
input.input_sm {width:55px !important;}

#container {position: relative; height: 100%;}
#container:after{display:block;content:"";clear:both}
section{position:relative}
#introduce, #business, #recruit_process, #recruit, #request{padding-top:30px; padding-bottom:130px}
.more_down{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down.png") center center no-repeat}
.more_down2{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/more_down2.png") center center no-repeat}
.scl_top{margin-top:10px; width:19px;height:19px;display:inline-block;background: url("../img/scl_top.png") center center no-repeat}

.content p{line-height:30px;color:#222;}
.content p.itd_title{font-size:24px;margin-bottom:30px;}
.content a {text-decoration:none;padding:8px;margin-top: 10px;}
.content a:hover{text-decoration:none;}

#top_btn{position:fixed;bottom:10%;right:5%;display:block;width:50px;height:50px;border-radius:5px;background-color:#fff !important;text-indent:-9999px;background:url("../img/top_btn.gif") center center no-repeat; overflow:hidden;opacity:0.8;z-index: 999;}
.flexbox {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    -webkit-box-sizing: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.just-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    -moz-justify-content: center; 
    -ms-justify-content: center; 
    -o-justify-content: center; 
    justify-content: center; 
}
.flow-col{
    flex-flow: column;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
}
.align-start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
}
.align-end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
}
.align-center {
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
}
.align-cont-between {
    align-content: space-between;
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    -o-align-content: space-between;
}
.just-center {
    justify-content: center; 
    -webkit-justify-content: center; 
    -moz-justify-content: center; 
    -ms-justify-content: center; 
    -o-justify-content: center; 
}

.just-end {
    justify-content: flex-end; 
    -webkit-justify-content: flex-end; 
    -moz-justify-content: flex-end; 
    -ms-justify-content: flex-end; 
    -o-justify-content: flex-end; 
}

.just-between {
    justify-content: space-between; 
    -webkit-justify-content: space-between; 
    -moz-justify-content: space-between; 
    -ms-justify-content: space-between; 
    -o-justify-content: space-between; 
}

.just-around {
    justify-content: space-around; 
    -webkit-justify-content: space-around; 
    -moz-justify-content: space-around; 
    -ms-justify-content: space-around; 
    -o-justify-content: space-around; 
}

/* 화면 낭독 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}


/* Header */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* #header .container { height: 100px; } */
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li a { padding-top: 43px; height: 100px; }
}

#header { background-color: #fff; border-bottom: #dbdbdb solid 1px; }
.navbar-inverse .navbar-brand img { border: 1px solid #000;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {background: transparent; color: #06713a !important; background-color: #fff !important; }
.navbar-inverse .navbar-nav li a{color: #484848!important; font-weight: bold;}

/* tab */
.underline-tab {height: 40px;}
.underline-tab li {
    /* display: inline-block; */
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #dbdbdb;
    float:left;
    text-align: center;
    font-size: 16px;
    font-family: Gb;
    cursor:pointer;
    position: relative;
    color: #8a8a8a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;}
.underline-tab li:hover a { color:#2b2b2b; }
.underline-tab a li:hover { color: #2b2b2b; text-decoration: none;}
.underline-tab li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background: linear-gradient(to right, #dbdbdb, #2b2b2b, #dbdbdb);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.underline-tab li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.underline-tab li.active a {color:#4b4b4b;}
.underline-tab li.active:before {position: absolute;
    width: 100%; height: 1px; bottom: -1px; left: 0; background: linear-gradient(to right, #dbdbdb, #2b2b2b, #dbdbdb);
  visibility:visible;-webkit-transform: scaleX(1);transform: scaleX(1);}
.underline-tab li a {color: #939393;}
.underline-tab li:hover a {color:#4b4b4b;text-decoration: none;}
/* .underline-tab li.active a {border-bottom: 4px solid #484848;color:#2f2f2f;} */


/* footer */
footer {background:url('../img/ft_bg.png') repeat !important;}
#ft{width:100%;}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_company{height:auto;}
#ft_company:after{display:block;clear:both;content:"";}
#ft_company div{padding:10px 0;}
#ft_company p{color:#fff;float:left;line-height:1.8em;text-align:left}
#ft_company .f_link{margin:20px 0}
#ft_company .f_link a{display:inline-block;margin-right:15px;color:#f2f2f2}
#ft_company .ft_info{width:100%;padding-bottom:10px;text-align:center;}
#ft_copy{width:100%;border-top:1px solid #4e5763}
#ft_copy div {display:inline-block;padding:18px 0;color:#fff;}
#ft_copy a {display:inline-block;margin:0 10px 0 0;color:#fff;}


.div-line-v {width: 2px; border: #dbdbdb 1px solid;}
.div-line-h {height: 2px; border: #dbdbdb 1px solid;}

/* table */
.table {width: 100%; margin-bottom: 0px !important; border: #dbdbdb 1px solid;}
.table th {height: 40px; text-align: center; background-color: #dbdbdb; color:#484848;}
.table tr>td {height: 40px; text-align: center; border: none !important; font-size: 12px;}
/* .table tr.col-type-1>td { padding: 20px 0 8px 0 !important;} */
.table tr.col-type-1>td { height: 86px; padding: 19px 0 8px 0 !important;}
.table tr.col-type-2>td { padding: 8px 0 15px 0 !important;}
.table tr.col-type-3>td { padding: 20px 0 20px 0 !important;}
.table tr.col-type-4>td { padding: 35px 0 !important;}


.border-box {border: 1px solid #dbdbdb; padding: 25px 30px;}
.gray-box {background-color: #dbdbdb; padding: 25px 30px;}

.court-img {width: 257px; height:165px; 
    background: url('../img/court1.png') no-repeat; background-size: contain;}
.court-img-2 {width: 419px; height:269px; padding: 42px 28px;
    background: url('../img/court2.png') no-repeat; background-size: contain;}

/* user box */
.user-box { position: relative; width: 220px; height: 344px; }
.user-box .photo { width: 150px; height: 150px;  background-color: gray; border-radius: 50%;}
.user-box .name { margin-top: 20px; color: #353535; font-size: 22px; font-weight:bold;}
.user-box .belong { margin-top: 7px; color: #07613a;}

/* rank */
.rank-img-1 {width: 95px; height:98px; background: url('../img/1st.png') no-repeat; background-size: contain;}
.rank-img-2 {width: 95px; height:98px; background: url('../img/2nd.png') no-repeat; background-size: contain;}
.rank-img-3 {width: 95px; height:98px; background: url('../img/3rd.png') no-repeat; background-size: contain;}
.rank-img-4 {width: 95px; height:98px; background: url('../img/4th.png') no-repeat; background-size: contain;}
.rank-img-5 {width: 95px; height:98px; background: url('../img/5th.png') no-repeat; background-size: contain;}

/* popup */
.popup {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 10000;
}
.popup.active {display: flex;}
.popup .popup-box {
    margin-top:155px;
    overflow: auto;
    width: 645px;
    height: 785px;
    background: #ffffff; 
    z-index: 10001;
}
.popup .popup-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000; 
    opacity: 0.8;
}

.popup .popup-title{
    height: 55px;
    color: #353535;
    font-size: 22px;
    border-bottom: 5px solid #484848;
}

.popup .btns-area {margin-top: 15px;}

/* row style */
.df-row {color: #484848; width: 100%; height: 30px;}
.df-row-label {margin-right: 16px; font-weight: bold;}
.df-text-right {text-align: right;}
.df-label-caution {font-size: 11px; color: red;}

/* buttons */
/* .btns-area {margin-top: 50px;} */
.button {cursor: pointer; font-weight: bold;}
.button.btn-1 {width: 143px; height: 42px; font-size: 18px; background-color: #07613a; color: #fff; border: #034a2b solid 1px;}
.button.btn-2 {width: 143px; height: 42px; font-size: 18px; background-color: #dbdbdb; color: #484848; margin-left: 10px;}
.button.sm-fit-btn {margin-left: 10px; padding: 7px 10px; background-color: #028c50; font-size: 12px; color: #fff;}
.button.md-btn {margin-left: 10px; width: 137px; height: 32px; background-color: #fff; font-size: 12px; color: #929292;}

/* width */
.w-150 {width: 150px;}
.w-134 {width: 134px;}
.w-365 {width: 365px;}
.w-60 {width: 60px;}


/* game */
/* .games-box {height: 490px;} */
.game-box {position: relative;}
.game-box {width: 576px; height: 225px; float: left; color: #fff; background-color: gray;}
.game-box:nth-child(odd) {margin: 18px 22px 18px 0px;}
.game-box:nth-child(even) {margin: 18px 0px 18px 22px;}
.game-info {padding: 20px 25px;}
.game-owner {padding-top: 26px;}

/* search area */
.search-area input[type=text]{
    width: 130px; height: 30px;
    border: none;
    background: #efefef;}
.search-area input:-ms-input-placeholder { color: #dbdbdb; }
.search-area input::-webkit-input-placeholder { color: #dbdbdb; } 
.search-area input::-moz-placeholder { color: #dbdbdb; }
.search-area input::-moz-placeholder { color: #dbdbdb; }

.search-area div {width: 30px; height: 30px; background: #000}