#join-top {width: 1200px; margin-top: 200px; color: #929292;}
#join-step-1 {width: 880px; display: none;}
#join-step-1.active {display: block;}
#join-step-2 {width: 545px; margin-top: 65px; display: none;}
#join-step-2.active {display: block;}
#join-step-3 {width: 600px; margin: 180px 0 180px 0; display: none;}
#join-step-3.active {display: block;}

.tab-step {cursor: initial; pointer-events: none;}

.join-rule-content {margin-top: 65px;}
.join-rule-box {width: 880px; height: 320px; padding: 15px 12px; background: #f1f1f1;  color: #929292}
.join-rule-text {width: 100%; height: 255px; background: #fff; color: #929292; }

.join-table {width: 100%; margin:16px 0 46px 0;}
.join-table td {height: 50px;}
.join-table .sub td {height: 40px;}
.join-table .big-sub td {height: auto;}
.join-table input {height: 30px;}
.join-table .join-tb-label {background: #929292; padding-right: 20px; color: #fff;}
.join-table .join-tb-input {background: #f1f1f1; padding-left: 17px; color: #929292;}

.join-table input[type=text] {margin-left: 0px;}

.join-result-title {color: #929292; font-size: 44px; margin-bottom: 35px;}
.join-result {height: 80px; color: #929292; font-size: 16px;}
.join-result-name {color: #929292; font-weight: bold;}
.join-result-id {color: #028c50;}