/* #home 배너 */
#home:after{display:block;clear:both;content:"";}
.home_section {height:710px; padding:170px 0 200px 0;overflow:hidden;}
.background_bg, .backstretch{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;background: url("../img/main_banner.jpg") center center no-repeat; background-image:100% !important;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.home_section .container {height: 100%;}
.home_content {position:relative;display:table;height:100%;width:100%;overflow: hidden;}
.title {font-size:40px;line-height:50px;color:#fff;font-weight:600;margin:20px 0}
.description {margin-bottom: 30px;font-size: 16px;line-height: 30px;color: #fff;}
.black_overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.2; }
.home_section .home_content .title { margin: 20px 0 5px 0; }
.home_section .home_content .go-ongoing { width: 250px; height: 60px; background-color: #507c69; margin: auto; border: 2px solid #96b0a5;} 
.home_section .home_content .go-ongoing span { font-weight: bold; font-size: 20px; color: #fff; }

/* 랭킹 */
#ranking { height: 600px; background-color: #f8f8f8; }
#ranking .container { width: 1200px; }
#ranking .ct_header { padding-top: 50px }
#ranking .ct_header .ct_title { margin: 0px; font-size: 26px; font-weight: bold; }
#ranking .main_feature { margin: 40px 0px; }

#ranking .user-list { height: 600px; margin-top: 34px; }
#ranking .user-box .info { margin-top: 45px; }
#ranking .user-box .rank { position:absolute; left:0px;}
#ranking .user-box .score-box {width:100%; height: 64px; background-color: #353535; color: #fff;}
#ranking .user-box .score-box .score-title {color: #fff; font-size: 11px;}
#ranking .user-box .score-box .score-total {color: #fff; font-size: 25px;}
#ranking .user-box .score-box .score {margin-left:5px; color: #f7bd49; font-size: 25px;}

/* 대회리스트 */
#games .container {height: 650px;padding: 0px; margin-top: 40px;}
#games .games-box {height: 490px;}
#games .game-box {position: relative;}
#games .game-box {width: 576px; height: 225px; float: left; color: #fff; background-color: gray;}
#games .game-info {padding: 20px 25px;}
#games .game-owner {padding-top: 26px;}
#games .more {height: 110px;}

/* 공식후원사 */
#supporter { height: 150px; }
#supporter .title-box {height: 80px;}
#supporter .title-box span {font-size: 14px; font-weight: bold; color: gray;}















