/*대회상세*/
#game-detail {height:710px; margin: 215px 0 72px 0;overflow:hidden;}

#game-detail .title-box {height: 115px !important;  }
#game-detail .title-box .due-date-box {width: 310px; height: 32px; border: #07613a solid 1px; font-weight: bold; font-size: 17px;}
#game-detail .title-box .due-date-label {color: #000;}
#game-detail .title-box .due-date {margin-left: 10px; color: #e7a619;}
#game-detail .title-box .game-title {margin-top: 15px; font-size: 33px; color: #07613a; font-weight: bold;}
#game-detail .title-box .part-title {margin-top: 10px; font-size: 20px; color: #484848;}


#game-detail .game-content {width: 880px; height: auto; margin-top: 60px;}

#game-detail .game-left {width: 423px; height: 485px; }

#game-detail .complex-map {width: 423px; height: 450px; border: 1px solid #dbdbdb;}
#game-detail .complex-address { margin-top: 13px; color: #484848; font-size: 12px;}
#game-detail .complex-address .addr-img { width: 12px; height: 16px; background: gray; margin-right: 5px;}
#game-detail .complex-address .copy-addr-btn { margin-left: 13px; width: 58px; height: 23px; background-color: #dbdbdb; color: #484848;}


#game-detail .game-right {width: 423px; height: 485px;}

#game-detail .game-right .game-info {height: 260px;}
#game-detail .game-right .game-info-row {color: #484848; width: 100%;}
#game-detail .game-right .row-label {margin-right: 16px; font-weight: bold;}

#game-detail .game-right .btns-area {margin-top: 50px;}
#game-detail .game-right .btns-area .button {width: 143px; height: 42px; font-weight: bold; font-size: 18px;}
#game-detail .game-right .btns-area .btn-1 {background-color: #07613a; color: #fff; border: #034a2b solid 1px;}
#game-detail .game-right .btns-area .btn-2 {background-color: #dbdbdb; color: #484848; margin-left: 10px;}

#game-detail .game-right .pre-caution {margin-top: 9px; padding: 14px 0px 14px 12px; width: 423px; height: 88px; border: #e8ac29 solid 1px; font-weight: bold;}
#game-detail .game-right .pre-caution .pre-caution-label { margin-bottom: 10px; font-size: 15px; color: #e8ac29;}
#game-detail .game-right .pre-caution .pre-caution-descript { font-size: 11px; color: #797373;}


#game-etc {height:auto; margin-bottom: 140px; overflow:hidden;}
#game-etc .container {width: 1000px !important;}

#game-1, #game-2, #game-3,
#game-4, #game-5, #game-6 { display: none; }
#game-1.active, #game-2.active, #game-3.active,
#game-4.active, #game-5.active, #game-6.active { display: block; }

#game-etc .game-tab-content {width: 100%;}
#game-etc #game-1 {width: 800px;}
#game-etc .reward-list { width: 800px; height: 210px; }
#game-etc .reward-box { width: 120px; height: auto; }
#game-etc .reward-box:nth-child(2),
#game-etc .reward-box:nth-child(3){margin-left: 85px;}
#game-etc .reward-box:nth-child(5){margin-left: 70px;}
#game-etc .reward-detail { color: #484848; }
#game-etc .reward-img-1 { width: 120px; height: 62px; background: gray;}
#game-etc .reward-name { font-size: 15px; font-weight: bold; margin-top: 15px;}
#game-etc .reward-gift { font-size: 12px; margin-top: 8px;}
#game-etc .reward-desc { margin-top: 55px; font-size: 12px; color: #939393; font-weight: bold; text-align: center;}

#game-etc #game-2 {width: 880px; height: auto;}
#game-etc .tab-sub-title {margin: 33px 0 12px 0; padding-left: 20px; font-size: 15px; color: #484848;}
#game-etc .game-schd-table {}

#game-etc #game-3 {width: 880px; height: auto;}
/* #game-etc .grame-seq-content {padding-bottom: 50px !important;} */
#game-etc .game-seq-court {width: 680px; margin: 33px 0 25px 0;}
#game-etc .court {font-size: 12px;}

#game-etc .game-helper.user-list { margin-top: 35px; }
#game-etc .game-helper .user-box { height: 250px; }
#game-etc .game-helper .user-box .phone-number {font-weight: bold; font-size: 16px; color: #353535;}

#game-etc .major-index .game-num { padding: 40px 0 18px 21px; font-weight: bold; font-size: 18px; color: #353535; }
#game-etc .major-index .court-num { padding: 13px 0 2px 22px; font-weight: bold; font-size: 14px; color: #507c69; }
#game-etc .major-index .court-list { width: 880px; }
#game-etc .major-index .court-detail { margin-bottom: 20px; }
#game-etc .major-index .team { height: 100%; }
#game-etc .major-index .player { height:32px; padding: 6px 7px; background-color:#dbdbdb; color: #484848; font-weight: bold;}
#game-etc .major-index .player .name {font-size: 16px;}
#game-etc .major-index .player .team-name {font-size: 12px; padding: 0 0 1px 5px;}

#game-etc .result-box {width: 880px;}
#game-etc .result-box .result-rank-box { width: 430px; padding: 33px 0 0 0;}
#game-etc .result-box .result-rank-name { margin-bottom: 20px; color: #07613a; font-size:22px; font-weight: bold; text-align: center;}
#game-etc .result-box .result-rank-box .user-box { width: 190px; height: 220px; }
#game-etc .result-box .result-rank-box .user-box .info {}