

#game-detail .title-box .game-title {margin-top: 15px; font-size: 14px; color: #484848; font-weight: bold;}
#game-detail .title-box .game-title input[type=text] {width: 400px;}
#game-detail .title-box .part-title {margin-top: 15px; font-size: 14px; color: #484848; font-weight: bold;}
#game-detail .title-box .part-title input[type=text] {width: 275px;}
#game-detail .title-box .game-deadline {margin-top: 15px; font-size: 14px; color: #484848; font-weight: bold;}
#game-detail .title-box .game-deadline input[type=text] {width: 100px;}
#game-detail .title-box .game-image {margin-top: 18px; font-size: 14px; color: #484848; font-weight: bold;}
#game-detail .title-box .game-image input[type=file] {float: right; margin-left: 10px}

#game-detail .game-right .df-row input[type=text] {width: 195px; margin-left: 0px;}
#game-detail .game-right .pre-caution {margin-top: 82px; height: 145px;}
#game-detail .game-right .game-info {
    height: 260px;
    padding: 0px 4px;
}
#game-etc .game-tab-content {width: 880px !important;}
#game-etc .game-tab-content .content-box {width: 100% !important;}
#game-etc .game-tab-title { width:100%; margin-top: 55px; color: #cecece; padding-bottom: 10px; border-bottom: 1px solid #cecece; }